    
.renderbreed {
    height: 90px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    /* background-color: antiquewhite; */
    -webkit-box-shadow: 0px 0px 11px 0px #ccdcf1;
    box-shadow: 0px 0px 11px #e0e7f8;

  
  }
  
  .renderbreed .title {
    flex: 20%;
    display: grid;
    place-content: left;
    margin-top: 5px;
    color: rgba(52, 114, 185, 0.966)
  }
  
  .breeedcategory{
    display: flex;
    align-items: center;
    cursor: pointer;
    
  }

  .alignnumbertokhola{
    display: flex;
    justify-content: flex-end;
  }