.AddAnimal{
    height: 50px;
    width: 150px;
    float: right;
    cursor: pointer;
    background-color: rgba(231, 10, 21, 0.452);
  }

  .icons{
      width:35px;
      height:35px;
      cursor: pointer;
  }

  .createLivestock{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100% !important;
    z-index: 999;
  }

  .insertBleed {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    padding: 2px;
    
    
   
  }
  
.insertBleed #inputCreatePost {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
  }
  
  .insertBleed button {
    margin-top: 15px;
    height: 40px;
    border: none;
    background-color: lightskyblue;
    border-radius: 5px;
    color: white;
  }
  
  .insertBleed button:hover {
    cursor: pointer;
    background-color: dodgerblue;
  }